public/courses/必修/物理有机复习资料.zip filter=lfs diff=lfs merge=lfs -text
public/courses/选修/材料化学.rar filter=lfs diff=lfs merge=lfs -text
public/courses/必修/结构分析书册.zip filter=lfs diff=lfs merge=lfs -text
public/courses/选修/software.zip filter=lfs diff=lfs merge=lfs -text
